@import url('https://fonts.googleapis.com/css2?family=Slackey&family=Vollkorn:ital,wght@0,400..900;1,400..900&family=Aladin&family=Neucha&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --pri-col: #001010;
  --sec-col: #eeffff;
  --pri-tint: #00ffff;
  --sec-tint: #005f5f;
  font-size: 10px;
}
body {
  color: var(--sec-col);
  background: var(--pri-col);
  font-family: Neucha;
}
h1, h2, h3, button {
  font-family: 'Aladin';
}
h1 {
  font-family: Slackey, 'comic sans';
}
ul {
  list-style-type: none;
}
header {
  padding: 2rem;
  text-align: center;
}
header h1 {
  font-size: 4rem;
}
header p{
  font-size: 2rem;
}
.flex-col {
  display: flex;
  flex-flow: column nowrap;
}
.flex-row {
  display: flex;
  flex-flow: row nowrap;
}
.display {
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4rem;
  min-height: 100vh;
  padding: 3rem;
  font-size: 2rem;
}
section {
  width: 100%;
  background-color: #eff2;
  padding: 4rem;
  border-radius: 3rem;
  gap: 3rem;
  max-width: 45vw;
}
#color-info {
  font-size: 1.4rem;
  position: fixed;
  background: var(--sec-col);
  color: var(--pri-col);
  z-index: 1;
  inset: 0;
  margin: 5rem auto;
  height: fit-content;
  width: 400px;
  gap: 3rem;
  max-height: 75vh;
  overflow-y: auto;
}
#color-info div {
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#comp-color-box {
  background: #ff0000;
}
.color-box {
  width: clamp(50px, 50px, 100px);
  height: clamp(50px, 50px, 100px);
  background: var(--pri-tint);
}
#close-info {
  position: fixed;
  font-weight: bold;
  background: var(--sec-tint);
  color: var(--sec-col);
  padding: 1rem 1.5rem;
  border-radius: 50%;
  font-size: 2rem;
  cursor: pointer;
}
.color-sect {
  position: fixed;
  right: 3rem;
  top: 15rem;
}
section div {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}
#display-portal {
  background: var(--pri-tint);
  border-radius: inherit;
  min-height: 30vh;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 3rem;
}
#display-portal button {
  background: var(--pri-col);
  color: var(--pri-tint);
}
#display-portal button:hover {
  background: #001010dd;
}
.color-info p {
  color: var(--pri-col);
}
.color-info p span{
  font-size: 1.1em;
  font-weight: bold;
}
#stats p:first-child {
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  font-family: Aladin;
}
#colors-container {
  display: none;
}
#all-colors li{
  cursor: pointer;
  padding: 0.5rem 0 0;
  width: fit-content;
}
#stats p span {
  font-weight: bold;
}
.btns {
  flex-wrap: wrap;
}
button {
  font-size: 2rem;
  font-weight: bold;
  border-radius: 1rem;
  border: none;
  background-color: var(--pri-tint);
  color: var(--pri-col);
  cursor: pointer;
  padding: 0.8rem 2rem;
  text-transform: uppercase;
}
button:hover {
  background: var(--pri-col);
  color: var(--pri-tint);
}
#inp-container {
  /* align-items: flex-start; */
  display: none;
  max-width: 50%;
}
#time-input {
  padding: 1rem;
  font-size: 2rem;
  font-family: Lato;
  border-radius: 1rem;
}
#time-input:focus {
  outline: none;
  border: 5px solid #0ff;
}
.hidden {
  display: none;
}
@media screen and (max-width: 1024px) {
  .display.flex-row {
    flex-flow: column-reverse nowrap;
    padding: 3rem;
  }
  section {
    max-width: 100%;
    padding: 2rem;
  }
  #color-info {
    max-width: 95vw;
  }
  .color-sect {
    position: static;
  }
}